* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url(https://images.pexels.com/photos/2079438/pexels-photo-2079438.jpeg);
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }
  
  .navbar a {
    color: #14add4;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
  }
  
  .navbar a:hover {
    background-color: #2d1fc9;
    color: antiquewhite;
  }
  
  #title {
    font-size: 30px;
    color: #eae4dd;
  }
  
  .grid-container {
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 80%;
    max-width: 1000px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    text-align: center;
    border-radius: 5px;
  }
  
  img {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  